<div class="w-75 mx-auto text-start player-detail">
  @if (person(); as p) {
    <h3 class="section-title">Player Information</h3>
    <p>Full Name: {{ p.firstName }} {{ p.lastName }}</p>
    <p>Position: {{ p.position }}</p>
    <p>Date of Birth: {{ p.dateOfBirth }}</p>
    <p>Nationality: {{ p.nationality }}</p>
    <p>Current Team:  <app-team-badge [team]="p.currentTeam"></app-team-badge></p>
    <p>Contract: {{ p.contract?.start }} {{p.contract?.until}}</p>
    <p>Est. market value: {{ p.marketValue || 'N/A' }}</p>
    <p>Matches in database: {{ totalMatches() }}
      @if (firstMatchDate() && lastMatchDate()) {
        ({{ firstMatchDate() | date:"yyyy-MM-dd"}} - ({{ lastMatchDate() | date:"yyyy-MM-dd"}}))
      }
    </p>


  } @else {
    <p>Loading player details...</p>
  }

</div>

