<div class="w-75 mx-auto text-start player-detail">
  @if (person(); as p) {
    <h3 class="section-title">Player Information</h3>
    <p>Full Name: {{ p.firstName }} {{ p.lastName }}</p>
    <p>Position: {{ p.position }}</p>
    <p>Date of Birth: {{ p.dateOfBirth }}</p>
    <p>Nationality: {{ p.nationality }}</p>
    <p>Current Team: {{ p.currentTeam?.name }}</p>
    <p>Contract: {{ p.contract?.start }} {{p.contract?.until}}</p>
    <p>Est. market value: {{ p.marketValue || 'N/A' }}</p>

  } @else {
    <p>Loading player details...</p>
  }

</div>

