<h5>Top pefroming teams</h5>
<p>Best performing teams accros Europe's top 5 flights</p>
<div class="table-responsive">
<table class="table table-dark table-striped-columns table-common top-p-teams-table">
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>Form</th>
            <th>⌀ points</th>
            <th>⌀ scored goals</th>
        </tr>
    </thead>
    <tbody>
        @for (t of teamsWithStats(); track t.team.id){
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>                   
                    <app-team-badge [team]="t.team"></app-team-badge>
                    <a [routerLink]="['/team', t.team.id]" class="player-and-team-link">
                        <span>{{ t.team.name }}</span>
                    </a>
                </td>
                <td>
                <div class="form-column">
                        @for (result of (t.form ? t.form.split(',').reverse() : []); track $index){
                        <span
                            class="form-block"
                            [class.bg-success]="result=== 'W'"
                            [class.bg-danger]="result === 'L'"
                            [class.bg-warning]="result === 'D'">
                            {{result}}
                        </span>
                    }
                </div>
                </td>
                <td>{{ t.avgPoints | number:"1.1-3" }}</td>
                <td>{{ t.avgGoals | number:"1.1-3"}}</td>
            </tr>
        }
    </tbody>
</table>
</div>