.player-link {
    text-decoration: none;
    color: inherit;
}

.player-link:hover {
    text-decoration: underline;
}

.top-scorers-table {
    vertical-align: middle;

}

.player-name-cell {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 0.5rem;
}

