<h3>Top performing scorers</h3>
<p>Europe's top 5 flights; 2025/2026 season</p>
<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>S</th>
            <th>G</th>
            <th>A</th>
            <th>⌀ sc</th>
            <th>⌀ g</th>
        </tr>
    </thead>
    <tbody>
        @for (scorer of topScorers(); track scorer.player.id) {
            <tr>
                <td>{{ $index + 1}}</td>
                <td>
                    <img [src]="scorer.team.crest" alt="{{ scorer.team.name }}" class="me-2" style="height: 1em; width: auto;">
                    <a [routerLink]="['/person', scorer.player.id]" class="text-white">
                    {{ scorer.player.name }}
                    </a>                  
                </td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
            </tr>
        }
    </tbody>
</table>
