<h5>Top performing scorers</h5>
<p>Europe's top 5 flights; 2025/2026 season</p>
<div class="table-responsive">
<table class="table table-dark table-striped-columns table-common top-scorers-table">
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>S</th>
            <th>G</th>
            <th>A</th>
            <th>⌀ sc</th>
            <th>⌀ g</th>
        </tr>
    </thead>
    <tbody>
        @for (scorer of topScorers(); track scorer.player.id) {
            <tr>
                <td>{{ $index + 1}}</td>
                <td>
                    <app-team-badge [team]="scorer.team"></app-team-badge>
                    <a [routerLink]="['/person', scorer.player.id]" class="player-link">
                    {{ scorer.player.name }}
                    </a>                 
                </td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
                <td>{{scorer.goals}}</td>
            </tr>
        }
    </tbody>
</table>
</div>