<div class="d-flex align-items-center justify-content-between mb-2">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        (click)="open.set(!open())"
        [attr.aria-expanded]="open()">
        Week {{ selectedMatchday() }}
      </button>
      <ul class="dropdown-menu" [class.show]="open()">
        @for (week of weeks; track week) {
          <li>
            <a
              class="dropdown-item"
              href="#"
              [class.active]="selectedMatchday() === week"
              (click)="
                $event.preventDefault();
                selectedMatchday.set(week);
                open.set(false);
              ">
              Week {{ week }}
            </a>
          </li>
        }
      </ul>
    </div>


<h5 class="m-0 text-center flex-grow-1">
    Premier League Matches - Week {{ selectedMatchday()}}
</h5>

<div style="width: 120px"></div>
</div>

<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <td>Match Date</td>
            <td>Home Team</td>
            <td>Away Team</td>
            <td>Score</td>
        </tr>

    </thead>
    <tbody>
        @for(match of matches(); track match.id) {
            <tr>
                <td>{{ match.utcDate | date: "mediumDate"}}</td>
                <td>{{ match.homeTeam.name}} </td>
                <td>{{ match.awayTeam.name}}</td>
                <td>@if (match.score.fullTime.home !==null) {
                {{ match.score.fullTime.home}} : {{ match.score.fullTime.away}}}</td>
            </tr>
        }
    </tbody>
</table>




